@charset "UTF-8";
body {
  color: #322c2e;
  font-family: vag-rundschrift-d, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
a {
  font-weight: 300 !important;
}

.font-increased {
  font-size: 160%;
}

.font-size-doubled {
  font-size: 200%;
}

.text-small-1 {
  font-size: 0.85rem;
}

.text-small-3 {
  font-size: 0.5rem;
}

.text-medium-2 {
  font-size: 1.2rem;
}

.text-medium-3 {
  font-size: 0.9rem;
}

.text-size-default {
  font-size: 1rem;
}

.text-medium-1 {
  font-size: 1.36375rem;
}

.text-light-green {
  color: #66ba5a !important;
}

.text-dark {
  color: #322c2e !important;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.z-minus {
  z-index: -1;
}

.double-columns {
  -webkit-columns: 2;
          columns: 2;
}

.bg-green-grad {
  background-color: #5DB65A;
  background-image: linear-gradient(55deg, #5cb75a 0%, #93d056 99%);
  background-image: -ms-linear-gradient(55deg, #5cb75a 0%, #93d056 99%);
}

.green-shadow {
  -webkit-box-shadow: rgba(141, 206, 97, 0.54) 0px 1px 10px 2px;
          box-shadow: rgba(141, 206, 97, 0.54) 0px 1px 10px 2px;
}

.dark-shadow {
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
}

.bg-blue-grad {
  background: #00ace0;
  background-image: linear-gradient(55deg, #12b2e9 0%, #18c8f3 100%);
  background-image: -ms-linear-gradient(55deg, #12b2e9 0%, #18c8f3 100%);
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #14b8eb;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark::after {
  left: 10px;
  top: 5px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container-fluid {
  width: 90%;
}

.header {
  max-height: 120px;
  height: 400px;
  z-index: 5;
  position: relative;
}

.header__logo {
  max-height: 60px;
}

.header__nav-item .active {
  color: #322c2e;
  position: relative;
}

.header__nav-link {
  font-size: 1.08rem;
  color: #322c2e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__nav-link:hover {
  color: #14b8eb;
}

.header__nav-item .active::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0.25rem;
  content: '';
  width: 85%;
  height: 2px;
  background-color: #14b8eb;
}

.header .nav-pills .nav-link.active,
.header .nav-pills .show > .nav-link {
  color: #322c2e;
  background-color: transparent;
}

.header .navbar-toggler {
  height: 40px;
  background-color: white;
}

.header__contact .header__nav-link {
  color: white;
  font-size: 1.41rem;
  position: relative;
  overflow: hidden;
}

.header__contact .header__nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: -100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__contact .header__nav-link:hover::after {
  left: 0;
}

.header__contact-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 131px;
  height: 61px;
  border-radius: 30.11px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.98rem;
  line-height: 2.8;
  text-transform: uppercase;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
          box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
}

.header__contact-btn:hover, .header__contact-btn--inverse {
  background-color: white;
  color: #14b8eb;
  border: 1px solid transparent;
}

.header__contact-btn--inverse:hover {
  background-color: #14b8eb;
  color: white;
  border: 1px solid white;
}

.header__contact-btn--green {
  background-color: white;
  color: #66ba5a;
  border: 1px solid transparent;
  -webkit-box-shadow: rgba(25, 25, 25, 0.3) 0px 5px 12px 0px;
          box-shadow: rgba(25, 25, 25, 0.3) 0px 5px 12px 0px;
}

.header__contact-btn--green:hover {
  background-color: #66ba5a;
  color: white;
  border: 1px solid transparent;
  -webkit-box-shadow: rgba(25, 25, 25, 0.3) 0px 5px 12px 0px;
          box-shadow: rgba(25, 25, 25, 0.3) 0px 5px 12px 0px;
}

.header__lang-change {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  top: 13px;
}

.header__lang-change-arrow {
  fill: #14b8eb;
  width: 0.9rem;
  height: 1rem;
  padding: 2px;
  margin-left: 3px;
}

.header__lang-change .dropdown-toggle {
  border-radius: 50%;
  width: 63px;
  height: 60px;
  font-size: 0.98rem;
  background-color: white;
  color: #14b8eb;
  border: 0px white;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2000;
}

.header__lang-change .dropdown-toggle:hover {
  background-color: #14b8eb;
  color: white;
}

.header__lang-change .dropdown-toggle:hover .header__lang-change-arrow {
  fill: white;
}

.header__lang-change .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0;
  vertical-align: 0;
  content: none;
  border-top: 0;
}

.header__lang-change__btn-text {
  z-index: 2000;
  position: relative;
}

.header__lang-change .custom-carets .dropdown-toggle:after {
  font-family: FontAwesome;
  content: '\f107';
  font-size: 0.5rem;
  z-index: 2000;
  position: relative;
}

.header__lang-change .custom-carets .dropdown-toggle > span.caret {
  display: none;
}

.header__lang-change .dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  float: left;
  min-width: 0;
  padding: 4.4rem 0 1rem;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: center;
  list-style: none;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  background-clip: padding-box;
  border: none;
  border-radius: 25px;
  z-index: -1;
}

.header__lang-change .dropdown-item {
  padding: 0;
  color: #14b8eb;
  font-size: 0.85rem;
}

.header__lang-change .dropdown-item:hover {
  color: #322c2e;
}

.main {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.owl-carousel .owl-dots .active span {
  -webkit-transform: translate(-2px, -13px) scale(1.5);
          transform: translate(-2px, -13px) scale(1.5);
  margin-right: 6px;
}

.owl-carousel .owl-dots button {
  outline: none;
}

.owl-carousel .owl-dots .owl-dot span {
  height: 2px;
  width: 2px;
  -webkit-box-shadow: inset white 0 0 0px 2px;
          box-shadow: inset white 0 0 0px 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent !important;
  border-radius: 50%;
  padding: 5px;
  margin: 10px 5px;
  float: left;
  outline: none;
}

.owl-carousel .bar {
  width: 0%;
  height: 100%;
  background: #fff;
  opacity: 1 !important;
  z-index: 3000;
  position: relative;
}

.owl-carousel .progressBar {
  display: inline-block;
  width: 4rem;
  height: 2px;
  position: relative;
  background: #94d08b;
  z-index: 3000;
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}

.owl-carousel .line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-one {
  z-index: 0;
  overflow: hidden;
}

.owl-one__img-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  text-align: right;
}

.owl-one .owl-dots {
  position: absolute;
  top: 50%;
  right: -0.5rem;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.owl-one .main-counter {
  position: absolute;
  right: calc(7vw - 0.25rem);
  top: calc(50% + 55px);
  color: white;
  font-size: 1.41rem;
}

.owl-one .main-counter__number {
  font-size: 2.18rem;
  margin-right: 5px;
  font-weight: 400;
}

.owl-one .owl-carousel .owl-item img, .owl-one__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  display: inline-block !important;
  width: 88% !important;
  z-index: -1;
}

.owl-one__text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-one__heading {
  color: #66ba5a;
  font-size: 4.90875rem;
}

.owl-one__heading-underline {
  display: inline-block;
  position: relative;
}

.owl-one__heading-underline::after {
  content: '';
  background-color: #d3ef8b;
  height: 10px;
  width: 100%;
  position: absolute;
  display: block;
  left: 0;
  bottom: 15px;
  z-index: -1;
  border-radius: 30px;
}

.owl-one__p {
  line-height: 1.6;
  font-size: 1.36375rem;
}

.owl-one__btn {
  text-transform: uppercase;
  font-size: 0.98rem;
  border-radius: 50px;
  background-color: #14b8eb;
  border-color: #14b8eb;
  color: white;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
}

.owl-one__btn:hover {
  color: #322c2e;
  background-color: white;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 2px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 2px;
}

.steps {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("images/background-steps-with-tel.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position-x: -22vmin;
  background-position-y: -30px;
  padding-bottom: 18vw;
}

.steps__heading {
  color: #14b8eb;
  font-size: 2.72rem;
}

.steps__subheading {
  font-size: 1.2rem;
  line-height: 1.364;
}

.steps__intro {
  padding-top: 160px;
}

.steps__svg {
  background: white;
  -webkit-box-shadow: 0px 7px 18px 0px rgba(187, 193, 194, 0.3);
          box-shadow: 0px 7px 18px 0px rgba(187, 193, 194, 0.3);
  border-radius: 15px;
  max-height: 85px;
  max-width: 85px;
  position: relative;
  text-align: center;
}

.steps__svg img {
  margin: 6px;
}

.steps__svg-1::after, .steps__svg-2::after, .steps__svg-3::after {
  content: '01';
  color: #14b8eb;
  position: absolute;
  width: 10px;
  font-size: 1.08rem;
  right: -12px;
  height: 10px;
  bottom: 8px;
}

.steps__svg-2::after {
  content: '02';
}

.steps__svg-3::after {
  content: '03';
}

.steps__info-step-heading {
  color: #14b8eb;
  font-size: 1.63625rem;
}

.steps__info-step-subheading {
  font-size: 1.08rem;
}

.steps .owl-item {
  width: 100%;
}

.offer {
  color: #14b8eb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: calc(-18vw + 150px);
  z-index: 10;
  position: relative;
}

.offer .owl-item {
  padding: 0.5rem;
}

.offer__heading {
  color: #66ba5a;
  font-size: 2.72rem;
  text-align: center;
  margin-bottom: 110px;
}

.offer__item {
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
  -webkit-transition: 1s, border-radius 0s;
  transition: 1s, border-radius 0s;
  z-index: 1;
  background-color: white;
  height: 310px;
}

.offer__item::after {
  content: "";
  opacity: 0;
  -webkit-transition: 1s, border-radius 0s;
  transition: 1s, border-radius 0s;
}

.offer__item:hover {
  background-color: #3fbae1;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  height: 347px;
}

.offer__item:hover::after {
  background: url("images/offer-flats-bg.png");
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.offer__item:hover .offer__line {
  fill: #ffffff !important;
  stroke: #ffffff !important;
}

.offer__svg {
  max-height: 60px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.offer__item:hover .offer__svg {
  opacity: 0;
}

.offer__svg path, .offer__svg {
  fill: #14b8eb !important;
}

.offer__svg path {
  text-align: start;
}

.offer__more {
  display: inline-block;
  position: absolute;
  font-size: 1.5rem;
  background-color: #14b8eb;
  padding: 1rem;
  border-radius: 50%;
  bottom: 1rem;
  right: 1rem;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 45px;
  height: 45px;
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
  z-index: 2;
}

.offer__item:hover .offer__more {
  border-radius: 25px;
  width: 60%;
  background-color: white;
  cursor: pointer;
}

.offer__item:hover .offer__more .offer__more-dots {
  right: 5px;
  left: initial;
  color: #14b8eb;
}

.offer__item:hover .offer__more .offer__more-hidden {
  left: 38%;
  z-index: 2;
  display: inline-block;
}

.offer__more-hidden {
  display: none;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: -25px;
  color: #14b8eb;
  font-size: 0.8725rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.offer__more-dots {
  position: absolute;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: auto;
}

.offer__item-heading {
  font-size: 1.2rem;
  position: relative;
  display: block;
  z-index: 2;
  height: 4rem;
  color: #14b8eb;
  text-decoration: none;
}

.offer__item:hover a {
  text-decoration: none;
}

.offer__item:hover .offer__item-heading {
  color: white;
}

.offer__item-heading:hover {
  text-decoration: none;
}

.offer__line {
  position: relative;
  width: 20%;
  display: block;
  fill: #14b8eb;
  stroke: #14b8eb;
  z-index: 2;
}

.testimonials {
  position: relative;
}

.testimonials--main-site {
  margin-top: -20vh;
}

.testimonials__heading {
  font-size: 2.72rem;
}

.testimonials .container-fluid {
  background-color: #5DB65A;
  background: #5db65a;
  background-image: -ms-linear-gradient(55deg, #5cb75a 0%, #93d056 99%);
  background: linear-gradient(55deg, #5cb75a 0%, #93d056 99%);
  padding-top: 35vh;
  min-height: 40vh;
  border-bottom-right-radius: 10vh;
  border-top-left-radius: 10vh;
  width: 90%;
}

.testimonials--about-us .container-fluid {
  padding-top: 110px;
}

.testimonials__item {
  max-width: 969px;
  margin: 0 auto;
}

.testimonials .no-radius {
  border-radius: 0 !important;
}

.testimonials__portrait,
.testimonials .owl-carousel .owl-item img {
  border-radius: 50%;
  background-color: white;
  width: 90px;
  display: inline-block;
}

.testimonials .owl-dots {
  margin-top: -6vh;
  padding: 3rem 0;
}

.testimonials__card {
  border: 0;
  background-color: transparent;
}

.testimonials__blockquote {
  font-size: 1.2rem;
  line-height: 1.364;
  padding-top: 2rem;
}

.testimonials__blockquote::before {
  content: ' ';
  position: absolute;
  background-image: url("images/quotesign.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 0.75rem;
  height: 0.75rem;
  top: 1rem;
  left: 3rem;
  -webkit-transform: matrix(3.58677, 0, 0, 3.58644, 0, 0);
  transform: matrix(3.58677, 0, 0, 3.58644, 0, 0);
}

.testimonials .fa-chevron-left,
.testimonials .fa-chevron-right {
  position: absolute;
  max-height: 70px;
  top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

.testimonials .fa-chevron-left:hover,
.testimonials .fa-chevron-right:hover {
  opacity: 0.5;
}

.testimonials .fa-chevron-left {
  left: 5%;
}

.testimonials .fa-chevron-right {
  right: 5%;
}

.news {
  max-width: 969px;
  margin: 0 auto;
  margin-top: 100px;
}

.news__heading {
  color: #14b8eb;
  font-size: 2.18rem;
}

.news__subheading {
  line-height: 1.8;
  font-size: 0.98rem;
}

.news__more {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  background: #00ace0;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
  background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
  -webkit-transition: 0.5s, color 0.2s;
  transition: 0.5s, color 0.2s;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
          box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2;
  border-radius: 25px;
  width: 130px;
  cursor: pointer;
  color: white;
}

.news__more:hover {
  background: white;
  color: #14b8eb;
}

.news__more-hidden {
  display: none;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: -25px;
  font-size: 0.8725rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 38%;
  z-index: 2;
  display: inline-block;
}

.news__more-dots {
  position: absolute;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -71%);
          transform: translate(-50%, -71%);
  right: 5px;
}

.news__img-description {
  font-size: 0.98rem;
  color: #322c2e;
}

.news__item a:hover {
  text-decoration: none;
  cursor: pointer;
}

.news__time {
  color: #14b8eb;
  font-size: 0.8725rem;
}

.news__img {
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  display: inline-block;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  position: relative;
  width: 100%;
  height: 100%;
}

.news__img-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
}

.news__img-container::before {
  content: '• • •';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  line-height: 36px;
  letter-spacing: -1px;
}

.news__item:hover .news__img-container::before {
  z-index: 20;
}

.news__img-container::after {
  content: '';
}

.news__item:hover .news__img-container::after {
  content: '';
  display: block;
  background-color: #3fbae1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 2;
}

.newsletter {
  max-width: 969px;
  margin: 0 auto;
}

.newsletter__heading {
  font-size: 2.18rem;
}

.newsletter .row {
  background-color: #14b8eb;
  border-radius: 15vh;
  border-bottom-right-radius: 0;
  position: relative;
}

.newsletter__btn {
  border-radius: 35px;
  border-bottom-right-radius: 0;
  background-color: white;
  color: #14b8eb;
  border: 3px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
  font-size: 0.98rem;
  text-transform: uppercase;
}

.newsletter__btn:hover {
  background-color: transparent;
  color: white;
  border: 3px solid white;
}

.newsletter body {
  background-color: #f5f5f5;
}

.newsletter .form-label {
  font-size: 0.98rem;
  color: white;
}

.newsletter .form-input {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
  color: white;
}

.newsletter .form-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #fff;
          box-shadow: 0 2px 0 0 #fff;
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  background-color: transparent;
  z-index: 10;
  -webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-label {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  font-size: .75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  max-width: 270px;
  outline: 0;
  border: 0;
  -webkit-transition: -webkit-box-shadow 150ms ease-out;
  transition: -webkit-box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out, -webkit-box-shadow 150ms ease-out;
  background-color: transparent;
}

.form-label:hover {
  cursor: text;
}

.form-input.filled {
  -webkit-box-shadow: 0 2px 0 0 lightgreen;
          box-shadow: 0 2px 0 0 lightgreen;
}

.footer {
  margin-top: -90px;
  z-index: -1;
}

.footer .container-fluid {
  background-color: #f3f7ff;
  border-top-left-radius: 15vh;
  width: 90%;
}

.footer--main-site .container-fluid {
  margin-top: -75px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.footer .row:last-child {
  border-top: 1px solid rgba(25, 25, 25, 0.1);
}

.footer__logo {
  max-height: 60px;
}

.footer__grey {
  font-size: 0.98rem;
  opacity: 0.7;
}

.footer__link {
  color: #322c2e;
  font-size: 1.08rem;
}

.footer__tel, .footer__email {
  color: #14b8eb;
  display: block;
  font-size: 1.41rem;
}

.footer__social .fab {
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-radius: 50%;
  background-color: rgba(117, 223, 255, 0.5);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
}

.footer__social .fab:hover {
  background-color: #00ace0;
  cursor: pointer;
}

.footer__pay-img {
  opacity: 0.14;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__pay-img:hover {
  opacity: 0.8;
}

.header--contact__tear-bg, .header--purchase__tear-bg {
  overflow: hidden;
  position: absolute;
  width: 53%;
  right: 0;
}

.communication {
  margin-top: 150px;
}

.communication__map {
  height: 50vh;
  border-top-right-radius: 10vmin;
  border-bottom-left-radius: 10vmin;
}

.communication__map-container {
  position: relative;
}

.communication__map-link {
  background: #aecf56;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #aecf56), to(#65ba5a));
  background: linear-gradient(to bottom, #aecf56 1%, #65ba5a 100%);
  position: absolute;
  width: 70px;
  height: 70px;
  right: -35px;
  bottom: -35px;
  padding: 22px;
  border-radius: 50%;
}

.communication__map-svg {
  fill: white;
}

.communication__map__p {
  font-size: 1.2rem;
}

.communication__heading {
  color: #66ba5a;
  font-size: 3.81813rem;
}

.communication__subheading {
  display: inline-block;
  font-size: 1.08rem;
}

.communication__deco-line {
  width: 3.75rem;
  height: 3px;
  background-color: #a7cd56;
  display: inline-block;
  margin-bottom: 1.75rem;
}

.communication__tel a {
  font-size: 2.29062rem;
  color: #14b8eb;
  text-decoration: none;
}

.communication__tel a:hover {
  border-bottom: 2px solid #14b8eb;
}

.communication__tel-prefix {
  font-size: 1.41rem;
}

.communication__time-open {
  font-size: 1.41rem;
  color: #14b8eb;
}

.communication__form-heading {
  color: #14b8eb;
  font-size: 1.63625rem;
}

.communication__btn {
  display: inline-block;
  position: relative;
  background: #00ace0;
  font-size: 0.85rem;
  background-image: linear-gradient(55deg, #12b2e9 0%, #18c8f3 100%);
  -webkit-box-shadow: 0px 7px 18px 0px rgba(24, 200, 243, 0.3);
          box-shadow: 0px 7px 18px 0px rgba(24, 200, 243, 0.3);
  -webkit-transition: 0.5s, color 0.2s;
  transition: 0.5s, color 0.2s;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2;
  border-radius: 40px;
  height: 60px;
  width: 126px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.communication__btn:hover {
  color: #322c2e;
  background: white;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 2px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 2px;
}

.communication .form-label {
  left: initial;
  color: #322c2e;
}

.communication .form-input {
  -webkit-box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
          box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
  color: #322c2e;
  max-width: 100%;
}

.communication .form-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #14b8eb;
          box-shadow: 0 2px 0 0 #14b8eb;
  color: #14b8eb;
}

.testimonials--contact-subpage {
  margin-top: initial;
}

.testimonials--contact-subpage .container-fluid {
  border-bottom-right-radius: 0;
  padding-top: 10vh;
}

.footer--contact-subpage {
  z-index: -1;
  margin-top: 0;
}

.footer--contact-subpage .container-fluid {
  border-top-left-radius: 0;
  padding-top: 110px;
  padding-bottom: 40px;
}

.testimonials--about-us-subpage {
  margin-top: initial;
}

.testimonials--about-us-subpage .container-fluid {
  border-radius: 0;
  padding-top: 10vh;
}

.about-us,
.our-services {
  min-height: 50vh;
  position: relative;
  color: white;
  margin-top: 20vh;
}

.about-us__background,
.our-services__background {
  width: 65vw;
  position: absolute;
}

.about-us .row,
.our-services .row {
  position: absolute;
  width: 35vw;
  left: 30%;
  top: 25%;
}

.about-us__heading,
.our-services__heading {
  font-size: 3.81813rem;
}

.about-us__subheading,
.our-services__subheading {
  font-size: 1.08rem;
  line-height: 1.7;
}

.about-us__p,
.our-services__p {
  font-size: 0.8725rem;
}

.about-us__deco-line,
.our-services__deco-line {
  display: none;
  height: 3px;
  background-color: white;
}

.purchase-cleaning {
  min-height: 50vh;
  position: relative;
  color: white;
  margin-top: 80px;
}

.purchase-cleaning__background {
  width: 70%;
  position: absolute;
}

.purchase-cleaning__heading {
  padding-top: 150px;
  font-size: 3.81813rem;
}

.purchase-cleaning__p {
  font-size: 1.08rem;
}

.about-us {
  min-height: 70vh;
}

.insurance {
  min-height: 400px;
}

.insurance__img-oc, .insurance__img-allianz {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.insurance__img-oc {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.insurance__img-allianz {
  margin-left: calc(50% + 27px);
}

.insurance__info {
  font-size: 0.8725rem;
}

.numbers__heading {
  color: #14b8eb;
  font-size: 2.18rem;
}

.numbers__svg {
  fill: white !important;
  border-radius: 50%;
  background-color: #14b8eb;
  width: 100px;
  height: 100px;
}

.numbers__amount {
  color: #14b8eb;
  font-size: 1.98rem;
  line-height: 1;
}

.numbers__img-description {
  font-size: 1.08rem;
}

.comp-coop .container-fluid {
  background-color: #f3f7ff;
  padding: 3rem 3rem;
}

.comp-coop .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-height: 75px;
}

.comp-coop__item {
  height: 75px;
  width: 100%;
}

.comp-coop__img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.company-services {
  margin-left: 35%;
}

.company-services .card {
  border: none;
  background-color: transparent;
}

.company-services .card-header {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.company-services .accordion .card:not(:first-of-type) .card-header:first-child {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.company-services .card-header.collapsed {
  background: #f3f7ff;
}

.company-services .card-header.collapsed .company-services__heading {
  color: #66ba5a;
}

.company-services .card-header:not(.collapsed) {
  background-color: #5DB65A;
  background: #5db65a;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #5db65a), color-stop(100%, #93d057));
  background: linear-gradient(45deg, #5db65a 0%, #93d057 100%);
}

.company-services .card-header .btn {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.company-services .card-body {
  background-color: white;
}

.company-services .owl-services .owl-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}

.company-services .owl-services .owl-dot {
  width: 10px;
  height: 10px;
  -webkit-box-shadow: #66ba5a;
          box-shadow: #66ba5a;
  z-index: 1;
  padding: 0px;
  margin: 0px 15px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 3px solid #f3f7ff;
  border-radius: 50%;
  background-color: #f3f7ff;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.company-services .owl-services .owl-dots .active {
  border: 3px solid #5cb75a;
  background-color: white;
}

.company-services .owl-dots .owl-dot span {
  height: initial;
  width: initial;
  -webkit-box-shadow: initial;
          box-shadow: initial;
  padding: initial;
  margin: initial;
}

.company-services .fa-chevron-left,
.company-services .fa-chevron-right,
.company-services .arrow {
  color: white;
  border-radius: 50%;
}

.company-services .fa-chevron-left,
.company-services .fa-chevron-right,
.company-services .collapsed .arrow {
  background-color: #5DB65A;
  background: #5db65a;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #5db65a), color-stop(100%, #93d057));
  background: linear-gradient(45deg, #5db65a 0%, #93d057 100%);
}

.company-services .fa-chevron-left,
.company-services .fa-chevron-right {
  width: 45px;
  height: 45px;
  position: absolute;
  text-align: center;
  line-height: 45px;
  top: 50%;
  -webkit-transform: translateY(-85%);
          transform: translateY(-85%);
  -webkit-box-shadow: rgba(147, 208, 87, 0.5) 0 0 6px 3px;
          box-shadow: rgba(147, 208, 87, 0.5) 0 0 6px 3px;
}

.company-services .arrow {
  background: transparent;
  border: 2px solid white;
}

.company-services .collapsed .arrow {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-box-shadow: rgba(147, 208, 87, 0.5) 0 0 6px 3px;
          box-shadow: rgba(147, 208, 87, 0.5) 0 0 6px 3px;
}

.company-services .fa-chevron-left {
  left: -1rem;
}

.company-services .fa-chevron-right {
  right: -1rem;
}

.company-services .list-group-item:first-child {
  border-top: 0;
}

.company-services__heading {
  color: white;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
}

.company-services__heading:hover {
  color: white;
  text-decoration: none;
}

.company-services__p {
  font-size: 0.8725rem;
}

.company-services .tariff__heading, .company-services .tariff__price {
  color: #66ba5a;
}

.company-services .tariff__heading {
  font-size: 1.98rem;
}

.company-services .tariff__list-group {
  font-size: 0.8725rem;
}

.purchase {
  font-size: 1rem;
}

.purchase__step {
  position: relative;
}

.purchase__step:nth-child(2) img {
  opacity: 0.45;
}

.purchase__step:not(:first-child) {
  -webkit-filter: grayscale(80);
          filter: grayscale(80);
  opacity: 0.5;
}

.purchase__step:hover,
.purchase__step:hover .purchase__step:nth-child(2) img {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.purchase__svg-container {
  background: white;
  -webkit-box-shadow: 0px 8px 21px 0px rgba(187, 193, 194, 0.3);
          box-shadow: 0px 8px 21px 0px rgba(187, 193, 194, 0.3);
  border-radius: 15px;
  max-height: 70px;
  max-width: 70px;
  position: relative;
  text-align: center;
}

.purchase__svg-description {
  font-size: 1.30937rem;
  color: #14b8eb;
}

.purchase__summary {
  background: white;
  -webkit-box-shadow: 0px 3px 18px 0px rgba(144, 144, 144, 0.22);
          box-shadow: 0px 3px 18px 0px rgba(144, 144, 144, 0.22);
  position: relative;
  text-align: center;
  border-bottom-right-radius: 43.64px;
  border-top-left-radius: 43.64px;
  overflow: hidden;
  height: 455px;
  font-size: 1.08rem;
}

.purchase .summary__heading {
  color: #14b8eb;
  font-size: 1.63625rem;
}

.purchase .summary__info {
  background-color: #f3f7ff;
  color: #14b8eb;
  border-radius: 15px;
}

.purchase .summary__final-cost {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #5DB65A;
  background-image: linear-gradient(55deg, #5cb75a 0%, #93d056 99%);
  background-image: -ms-linear-gradient(55deg, #5cb75a 0%, #93d056 99%);
  line-height: 80px;
}

.purchase .summary__final-cost-number {
  font-size: 1.41rem;
}

.purchase .summary__final-cost-p {
  font-size: 1.08rem;
  padding-top: 0.7rem;
}

.purchase__form-description {
  font-size: 1.08rem;
}

.purchase__form-heading {
  font-size: 1.63625rem;
  color: #14b8eb;
}

.purchase .form-label {
  left: initial;
  opacity: 0.6;
}

.purchase .form-input {
  max-width: 100%;
  -webkit-box-shadow: 0 2px 0 0 #999;
          box-shadow: 0 2px 0 0 #999;
  opacity: 0.6;
}

.purchase .form-input.filled {
  -webkit-box-shadow: 0 2px 0 0 #14b8eb;
          box-shadow: 0 2px 0 0 #14b8eb;
  color: #14b8eb;
  opacity: 1;
}

.purchase .form-check {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  font-size: 200%;
  text-transform: uppercase;
}

.purchase .form-icon {
  fill: #14b8eb;
  position: absolute;
  width: 0.9rem;
  height: 100%;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.purchase .form-input:focus + .form-icon {
  opacity: 0;
}

.purchase__more {
  display: inline-block;
  font-size: 1.5rem;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
  background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-box-shadow: 0px 8px 21px 0px rgba(24, 200, 243, 0.3);
          box-shadow: 0px 8px 21px 0px rgba(24, 200, 243, 0.3);
  z-index: 2;
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white;
}

.purchase__img-container {
  margin-left: 45px;
  font-size: 0.75rem;
  opacity: 0.5;
}

.purchase .checkbox-container input:checked ~ .purchase__img-container,
.purchase .checkbox-container input:checked ~ .purchase__img-container svg {
  color: #14b8eb;
  fill: #14b8eb !important;
  opacity: 1 !important;
}

.purchase__img {
  height: 50px;
}

.purchase__accordion-heading {
  color: #14b8eb;
  font-size: 1.36375rem;
  text-transform: uppercase;
}

.purchase__accordion-heading:hover {
  color: #14b8eb;
}

.purchase__btn {
  display: inline-block;
  position: relative;
  background: #14b8eb;
  font-size: 0.85rem;
  -webkit-transition: 0.5s, color 0.2s;
  transition: 0.5s, color 0.2s;
  z-index: 2;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  background: #00ace0;
  background-image: linear-gradient(55deg, #12b2e9 0%, #18c8f3 100%);
  background-image: -ms-linear-gradient(55deg, #12b2e9 0%, #18c8f3 100%);
  -webkit-box-shadow: 0px 8px 21px 0px rgba(24, 200, 243, 0.3);
          box-shadow: 0px 8px 21px 0px rgba(24, 200, 243, 0.3);
}

.purchase .card {
  border: none;
}

.purchase .card-header {
  border: none;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
  cursor: pointer;
  color: #14b8eb;
  background-color: #f3f7ff;
}

.purchase .card-header:not(.collapsed) {
  background-image: -webkit-gradient(linear, left top, right top, from(#12b2e9), color-stop(99%, #18c8f3));
  background-image: linear-gradient(90deg, #12b2e9 0%, #18c8f3 99%);
  background-image: -ms-linear-gradient(90deg, #12b2e9 0%, #18c8f3 99%);
}

.purchase .card-header:not(.collapsed) .purchase__accordion-heading {
  color: white;
}

.purchase .card-header:not(.collapsed) .purchase__more {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.purchase .card .purchase__more {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 2px solid #f3f7ff;
  -webkit-box-shadow: 0px 8px 21px 0px rgba(24, 200, 243, 0.3);
          box-shadow: 0px 8px 21px 0px rgba(24, 200, 243, 0.3);
}

.purchase .card .purchase__more-dots {
  -webkit-transform: translateY(-19%);
          transform: translateY(-19%);
}

.purchase .card-header:hover .purchase__more {
  background: white;
  color: black;
}

@media (min-width: 1200px) {
  .header .container-fluid {
    padding-top: 20px;
  }
  .header__navbar-nav {
    padding-right: 46px;
  }
  .header__navbar-nav, .header__contact {
    width: 50%;
  }
  .header .navbar-light .navbar-nav .nav-link {
    color: #322c2e;
  }
  .header .navbar-light .navbar-nav .nav-link:focus,
  .header .navbar-light .navbar-nav .nav-link:hover {
    color: #14b8eb;
  }
  .header__contact .navbar-nav .nav-link {
    color: white !important;
  }
  .header__contact .navbar-nav .nav-link:focus,
  .header__contact .navbar-nav .nav-link:hover {
    color: white !important;
  }
  .offer .container {
    max-width: 1280px;
  }
  .communication__heading, .communication__map-container {
    padding-top: 50px;
  }
}

@media (min-width: 1600px) {
  .insurance {
    margin-top: -150px;
  }
  .about-us__deco-line {
    display: inline-block;
  }
}

@media (min-width: 1921px) {
  .our-services .row {
    top: 40%;
  }
  .communication__heading {
    padding-top: 150px;
  }
  .insurance {
    margin-top: 150px;
  }
}

@media (max-width: 1919px) {
  .owl-one__heading {
    font-size: 2.5rem;
  }
  .owl-one__heading-underline::after {
    bottom: 4px;
  }
  .owl-one__p {
    line-height: 1.6;
    font-size: 0.98rem;
  }
}

@media (max-width: 1440px) {
  .about-us,
  .our-services {
    min-height: 70vh;
    position: relative;
    color: white;
  }
  .about-us__background,
  .our-services__background {
    width: 70%;
    position: static;
    background-size: contain;
  }
  .about-us .row,
  .our-services .row {
    text-align: center;
    position: static;
    width: 100%;
    left: 0;
    color: #322c2e;
  }
  .about-us__heading,
  .our-services__heading {
    color: #14b8eb;
  }
  .about-us__subheading,
  .our-services__subheading {
    text-align: justify;
  }
}

@media (max-width: 1200px) {
  .header .container-fluid {
    width: 100%;
  }
  .header .menu-container {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__nav-item {
    width: 100%;
    text-align: left !important;
  }
  .header__contact-btn {
    background-color: #14b8eb;
    color: white !important;
    border: 1px solid white;
  }
  .header__nav-item .active::after {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header--purchase__tear-bg {
    width: 54%;
    right: 0;
  }
  .owl-one .owl-dots {
    position: absolute;
    top: 135px;
    right: -5rem;
    -webkit-transform: translate(-50%, -50%) rotate(90deg) scale(0.8);
            transform: translate(-50%, -50%) rotate(90deg) scale(0.8);
  }
  .steps {
    background-position-x: -300px;
    display: block;
    position: relative;
  }
  .steps::before {
    content: '';
    background: white;
    display: block;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
    z-index: 0;
  }
}

@media (max-width: 992px) {
  .container-fluid {
    max-width: 100%;
  }
  .owl-one__left {
    position: static !important;
  }
  .owl-one__right {
    position: absolute;
    right: 0;
    top: 0;
  }
  .owl-one__text {
    padding-top: 250px;
  }
  .owl-one__item {
    min-height: 60vh;
  }
  .fa-chevron-left,
  .fa-chevron-right {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .header--contact__tear-bg, .header--purchase__tear-bg {
    width: 55%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .company-services {
    margin-left: 0;
  }
  .insurance__img-allianz {
    margin: 0 auto;
    display: inherit;
    padding-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */