body {
  color: #322c2e;
  font-family: vag-rundschrift-d, sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
a {
  font-weight: 300 !important;
}

.font-size-doubled {
  font-size: 200%;
}

.text-small-1 {
  font-size: 0.9rem;
}

.text-small-3 {
  font-size: 0.5rem;
}

.text-light-green {
  color: #64b95a !important;
}

.text-dark {
  color: #322c2e !important;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.z-minus {
  z-index: -1;
}

.header {
  max-height: 100px;
}

.header__logo {
  max-height: 60px;
}

.header__nav-item .active {
  color: #322c2e;
  position: relative;
}

.header__nav-link {
  font-size: 0.9rem;
  color: #322c2e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__nav-link:hover {
  color: #14b8eb;
}

.header__nav-item .active::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0.25rem;
  content: '';
  width: 85%;
  height: 2px;
  background-color: #14b8eb;
}

.header .nav-pills .nav-link.active,
.header .nav-pills .show > .nav-link {
  color: #322c2e;
  background-color: transparent;
}

.header__contact .header__nav-link {
  color: white;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}

.header__contact .header__nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: -100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__contact .header__nav-link:hover::after {
  left: 0;
}

.header__contact-btn {
  border-radius: 25px;
  background-color: white;
  color: #14b8eb !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
          box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
}

.header__contact-btn:hover {
  background-color: #14b8eb;
  color: white !important;
  border: 1px solid white;
}

.header__lang-change {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.header__lang-change .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0;
  vertical-align: 0;
  content: none;
  border-top: 0;
}

.header__lang-change .dropdown-toggle {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  font-size: 0.9rem;
  background-color: white;
  color: #14b8eb;
  border: 0px white;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2000;
}

.header__lang-change__btn-text {
  z-index: 2000;
  position: relative;
}

.header__lang-change .custom-carets .dropdown-toggle:after {
  font-family: FontAwesome;
  content: '\f107';
  font-size: 0.5rem;
  z-index: 2000;
  position: relative;
}

.header__lang-change .custom-carets .dropdown-toggle > span.caret {
  display: none;
}

.header__lang-change .dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  float: left;
  min-width: 0;
  padding: 3.5rem 0 1rem;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: center;
  list-style: none;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  background-clip: padding-box;
  border: none;
  border-radius: 25px;
  z-index: -1;
}

.header__lang-change .dropdown-item {
  padding: 0;
  color: #14b8eb;
  font-size: 0.9rem;
}

.header__lang-change .dropdown-item:hover {
  color: #322c2e;
}

.main {
  background-color: white;
  width: 100%;
}

.owl-one {
  z-index: 0;
  overflow: hidden;
}

.owl-one__img-container {
  max-width: 100%;
  max-height: 100%;
}

.owl-one__img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: calc(73vh - 80px);
}

.owl-one__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-one__heading {
  color: #64b95a;
  font-size: 2.5rem;
}

.owl-one__heading-underline {
  display: inline-block;
  position: relative;
}

.owl-one__heading-underline::after {
  content: '';
  background-color: #d3ef8b;
  height: 5px;
  width: 104%;
  position: absolute;
  display: block;
  left: -2%;
  bottom: 4px;
  z-index: -1;
  border-radius: 15px;
}

.owl-one__p {
  line-height: 1.6;
}

.owl-one__btn {
  text-transform: uppercase;
  font-size: 0.9rem;
  border-radius: 50px;
  background-color: #14b8eb;
  border-color: #14b8eb;
}

.steps {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("images/background-steps-with-tel.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position-x: -22vmin;
  background-position-y: -30px;
}

.steps__container {
  width: 100%;
  z-index: 2;
}

.steps__heading {
  color: #14b8eb;
}

.steps__intro {
  padding-top: 160px;
}

.steps__svg {
  background: white;
  -webkit-box-shadow: -1px 2px 5px 1px #efefef;
  box-shadow: -1px 2px 5px 1px #efefef;
  border-radius: 15px;
  max-height: 70px;
  max-width: 70px;
  position: relative;
  text-align: center;
}

.steps__svg-1::after, .steps__svg-2::after, .steps__svg-3::after {
  content: '01';
  color: #64b95a;
  position: absolute;
  width: 10px;
  right: -12px;
  height: 10px;
  bottom: 8px;
}

.steps__svg-2::after {
  content: '02';
}

.steps__svg-3::after {
  content: '03';
}

.steps__info-step-heading {
  color: #14b8eb;
  font-size: 1.25rem;
}

.steps__info-step-subheading {
  font-size: 0.9rem;
}

.steps .owl-item {
  width: 100%;
}

.offer {
  color: #14b8eb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.offer .owl-item {
  padding: 0.5rem;
}

.offer__heading {
  color: #64b95a;
}

.offer__item {
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
  background-color: white;
}

.offer__item:hover {
  background-color: #3fbae1;
  -webkit-transition: 1s;
  transition: 1s;
}

.offer__item:hover::after {
  content: "";
  background: url("images/offer-flats-bg.png");
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.offer__item-heading {
  font-size: 0.9rem;
  position: relative;
  display: block;
  z-index: 2;
  height: 4rem;
}

.offer__item:hover .offer__item-heading {
  color: white;
}

.offer__line {
  position: relative;
  width: 20%;
  display: block;
  fill: #14b8eb;
  stroke: #14b8eb;
  z-index: 2;
}

.offer__item:hover .offer__line {
  fill: #ffffff !important;
  stroke: #ffffff !important;
}

.offer__svg {
  max-height: 60px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.offer__item:hover .offer__svg {
  opacity: 0;
}

.offer__svg path, .offer__svg {
  fill: #14b8eb !important;
}

.offer__more {
  display: inline-block;
  position: absolute;
  font-size: 1.5rem;
  background-color: #14b8eb;
  padding: 1rem;
  border-radius: 50%;
  bottom: 1rem;
  right: 1rem;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 32px;
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
  z-index: 2;
}

.offer__more:hover {
  border-radius: 25px;
  width: 50%;
  background-color: white;
  cursor: pointer;
}

.offer__more:hover .offer__more-dots {
  right: 5px;
  color: #14b8eb;
}

.offer__more:hover .offer__more-hidden {
  left: 38%;
  z-index: 2;
  display: inline-block;
}

.offer__more-hidden {
  display: none;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: -25px;
  font-size: 0.75rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.offer__more-dots {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  -webkit-transform: translate(-50%, -71%);
          transform: translate(-50%, -71%);
}

.testimonials {
  margin-top: -20vh;
}

.testimonials .container {
  background-color: #5DB65A;
  background: #5db65a;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #5db65a), color-stop(100%, #93d057));
  background: linear-gradient(45deg, #5db65a 0%, #93d057 100%);
  padding-top: 30vh;
  min-height: 40vh;
  border-bottom-right-radius: 10vh;
  border-top-left-radius: 10vh;
}

.testimonials__portrait,
.testimonials .owl-carousel .owl-item img {
  border-radius: 50%;
  background-color: white;
  width: 75px;
  display: inline-block;
}

.testimonials__card {
  border: 0;
  background-color: transparent;
}

.testimonials__blockquote {
  font-size: 1rem;
}

.testimonials .fa-chevron-left,
.testimonials .fa-chevron-right {
  position: absolute;
  font-size: 4rem;
  top: 0;
  color: white;
}

.testimonials .fa-chevron-left {
  left: 5%;
}

.testimonials .fa-chevron-right {
  right: 5%;
}

.testimonials .owl-dots {
  text-align: center;
  margin-top: -2rem;
  padding-bottom: 5rem;
}

.testimonials .owl-dot {
  width: 13px;
  height: 13px;
  top: 50%;
  left: 0px;
  -webkit-box-shadow: inset white 0px 0px 0px 3px;
          box-shadow: inset white 0px 0px 0px 3px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 5px;
}

.testimonials .owl-dots .active {
  -webkit-box-shadow: white 0px 0px 0px 6px;
          box-shadow: white 0px 0px 0px 6px;
}

.testimonials .owl-dot::after {
  content: '';
  width: 15px;
  height: 2px;
  display: inline-block;
}

.testimonials .owl-dots .active::after {
  width: 100px !important;
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.news {
  margin-top: 100px;
}

.news .container {
  padding-left: 10vw;
  padding-right: 10vw;
}

.news__heading {
  color: #14b8eb;
  font-size: 1.5rem;
}

.news__subheading {
  line-height: 1.8;
}

.news__more {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  background: #00ace0;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
  background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
  -webkit-transition: 0.5s, color 0.2s;
  transition: 0.5s, color 0.2s;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
          box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2;
  border-radius: 25px;
  width: 100px;
  cursor: pointer;
  color: white;
}

.news__more:hover {
  background: white;
  color: #14b8eb;
}

.news__more-hidden {
  display: none;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: -25px;
  font-size: 0.75rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 38%;
  z-index: 2;
  display: inline-block;
}

.news__more-dots {
  position: absolute;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -71%);
          transform: translate(-50%, -71%);
  right: 5px;
}

.news__img-description {
  font-size: 1rem;
}

.news__time {
  color: #14b8eb;
}

.news__img {
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  display: inline-block;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  position: relative;
  width: 100%;
  height: 100%;
}

.news__img-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
}

.news__img-container::after {
  content: '';
}

.news__img-container:hover::after {
  content: '';
  display: block;
  background-color: #3fbae1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 2;
}

.newsletter .container {
  padding-left: 10vw;
  padding-right: 10vw;
}

.newsletter .row {
  background-color: #14b8eb;
  border-radius: 15vh;
  border-bottom-right-radius: 0;
  position: relative;
}

.newsletter__btn {
  border-radius: 35px;
  border-bottom-right-radius: 0;
  background-color: white;
  color: #14b8eb;
  border: 3px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
}

.newsletter__btn:hover {
  background-color: transparent;
  color: white;
  border: 3px solid white;
}

.newsletter body {
  background-color: #f5f5f5;
}

.newsletter .form-label {
  color: white;
}

.newsletter .form-input {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
  color: white;
}

.newsletter .form-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #fff;
          box-shadow: 0 2px 0 0 #fff;
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  background-color: transparent;
  z-index: 10;
  -webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-label {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  font-size: .75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  max-width: 270px;
  outline: 0;
  border: 0;
  -webkit-transition: -webkit-box-shadow 150ms ease-out;
  transition: -webkit-box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out, -webkit-box-shadow 150ms ease-out;
  background-color: transparent;
}

.form-label:hover {
  cursor: text;
}

.form-input.filled {
  -webkit-box-shadow: 0 2px 0 0 lightgreen;
          box-shadow: 0 2px 0 0 lightgreen;
}

.footer {
  margin-top: -90px;
  z-index: -1;
}

.footer .container {
  background-color: #f3f7ff;
  border-top-left-radius: 15vh;
  padding: 3rem 6rem;
  padding-top: 150px;
}

.footer .row:last-child {
  border-top: 1px solid rgba(25, 25, 25, 0.1);
}

.footer__logo {
  max-height: 60px;
}

.footer__grey {
  font-size: 0.9rem;
  opacity: 0.7;
}

.footer__link {
  color: #322c2e;
}

.footer__tel, .footer__email {
  color: #14b8eb;
  display: block;
}

.footer__social .fab {
  border-radius: 50%;
  background-color: rgba(117, 223, 255, 0.5);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__social .fab:hover {
  background-color: #00ace0;
  cursor: pointer;
}

.footer__pay-img {
  opacity: 0.14;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__pay-img:hover {
  opacity: 0.8;
}

.header--contact__tear-bg {
  width: 50%;
  position: absolute;
  left: 43%;
  top: -2vw;
}

/* Checkbox */
input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

input[type="checkbox"] + label {
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 0 0 10px 0;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.14em;
  background: #DDD;
  -webkit-transition: background .15s;
  transition: background .15s;
}

input[type="checkbox"]:disabled + label {
  color: #999;
}

input[type="checkbox"]:disabled + label,
input[type="checkbox"]:disabled + label:before,
input[type="checkbox"]:disabled + label:after {
  cursor: not-allowed;
}

input[type="checkbox"]:disabled + label:before {
  background: #EEE;
}

input[type="checkbox"]:checked + label:before {
  background: #3081F2;
}

input[type="checkbox"]:disabled:checked + label:before {
  background: #609DF2;
}

input[type="checkbox"] + label:after {
  /* Font Awesome */
  font-family: "FontAwesome";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  /* fa-check */
  font-size: 14px;
  position: absolute;
  top: 1px;
  left: 1px;
  color: #FAFAFA;
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
  -webkit-transform: scale(0) rotate(90deg);
          transform: scale(0) rotate(90deg);
}

input[type="checkbox"]:checked + label:after {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}

.communication {
  margin-top: 150px;
}

.communication__map {
  height: 50vh;
  border-top-right-radius: 10vmin;
  border-bottom-left-radius: 10vmin;
}

.communication__heading {
  color: #64b95a;
  font-size: 2.5rem;
}

.communication__subheading {
  display: inline-block;
}

.communication__deco-line {
  width: 3.75rem;
  height: 2px;
  background-color: #64b95a;
  display: inline-block;
  margin-bottom: 1.75rem;
}

.communication__tel a {
  font-size: 1.5rem;
  color: #14b8eb;
}

.communication__time-open {
  font-size: 1.25rem;
  color: #14b8eb;
}

.communication__form-heading {
  color: #14b8eb;
}

.communication__btn {
  display: inline-block;
  position: relative;
  background: #00ace0;
  font-size: 0.9rem;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
  background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
  -webkit-transition: 0.5s, color 0.2s;
  transition: 0.5s, color 0.2s;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2;
  border-radius: 40px;
  width: 100px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.communication .form-label {
  left: initial;
  color: #322c2e;
}

.communication .form-input {
  -webkit-box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
          box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
  color: #322c2e;
  max-width: 100%;
}

.communication .form-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #14b8eb;
          box-shadow: 0 2px 0 0 #14b8eb;
  color: #14b8eb;
}

.testimonials--contact-subpage {
  margin-top: initial;
}

.testimonials--contact-subpage .container {
  border-bottom-right-radius: 0;
  padding-top: 10vh;
}

.footer--contact-subpage {
  z-index: -1;
  margin-top: 0;
}

.footer--contact-subpage .container {
  border-top-left-radius: 0;
}

.testimonials--about-us-subpage {
  margin-top: initial;
}

.testimonials--about-us-subpage .container {
  border-radius: 0;
  padding-top: 10vh;
}

.about-us,
.our-services {
  min-height: 50vh;
  position: relative;
  color: white;
}

.about-us__background,
.our-services__background {
  width: 60%;
  position: absolute;
}

.about-us .row,
.our-services .row {
  position: absolute;
  width: 25%;
  left: 30%;
  top: 25%;
}

.about-us__heading,
.our-services__heading {
  font-size: 2.5rem;
}

.about-us__subheading,
.our-services__subheading {
  font-size: 0.9rem;
  line-height: 1.7;
}

.about-us__p,
.our-services__p {
  font-size: 0.75rem;
}

.about-us__deco-line,
.our-services__deco-line {
  height: 3px;
  background-color: white;
}

.insurance {
  min-height: 400px;
  margin-top: 10vh;
}

.insurance .row {
  position: relative;
}

.insurance__img-oc, .insurance__img-allianz {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.insurance__img-allianz {
  right: 0;
  position: absolute;
}

.insurance__info {
  width: 50% !important;
  position: absolute;
  right: 0;
  padding: 2rem 1rem 0rem 9rem;
}

.numbers__heading {
  color: #14b8eb;
  font-size: 2.5rem;
}

.numbers__svg {
  fill: white !important;
  border-radius: 50%;
  background-color: #14b8eb;
  width: 100px;
  height: 100px;
}

.numbers__amount {
  color: #14b8eb;
  font-size: 200%;
  line-height: 1;
}

.comp-coop .container {
  background-color: #f3f7ff;
  padding: 3rem 3rem;
}

.comp-coop .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-height: 75px;
}

.comp-coop .owl-carousel .owl-item {
  height: 75px;
  width: 100%;
}

.company-services {
  margin-left: 35%;
}

.company-services .card {
  border: none;
  background-color: transparent;
}

.company-services .card-header {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #5DB65A;
  background: #5db65a;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #5db65a), color-stop(100%, #93d057));
  background: linear-gradient(45deg, #5db65a 0%, #93d057 100%);
}

.company-services .card-header--collapsed {
  background: #f3f7ff;
}

.company-services .card-header .btn {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.company-services .accordion .card:not(:first-of-type) .card-header:first-child {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.company-services .card-body {
  background-color: white;
}

.company-services .owl-services .owl-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}

.company-services .owl-services .owl-dot {
  width: 1rem;
  height: 1rem;
  -webkit-box-shadow: #64b95a;
          box-shadow: #64b95a;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0px;
  margin: 0px 15px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
  background: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
}

.company-services .owl-services .owl-dot::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: grey;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.company-services .owl-services .owl-dots .active::after {
  background: white;
  border: 3px solid #64b95a;
}

.company-services .fa-chevron-left,
.company-services .fa-chevron-right,
.company-services .arrow-down,
.company-services .arrow-up {
  color: white;
  border-radius: 50%;
}

.company-services .fa-chevron-left,
.company-services .fa-chevron-right,
.company-services .arrow-down {
  background-color: #5DB65A;
  background: #5db65a;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #5db65a), color-stop(100%, #93d057));
  background: linear-gradient(45deg, #5db65a 0%, #93d057 100%);
}

.company-services .fa-chevron-left,
.company-services .fa-chevron-right {
  padding: 0.75rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-85%);
          transform: translateY(-85%);
  -webkit-box-shadow: rgba(147, 208, 87, 0.5) 0 0 6px 3px;
          box-shadow: rgba(147, 208, 87, 0.5) 0 0 6px 3px;
}

.company-services .arrow-up {
  background: transparent;
  border: 2px solid white;
}

.company-services .arrow-down {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-box-shadow: rgba(147, 208, 87, 0.5) 0 0 6px 3px;
          box-shadow: rgba(147, 208, 87, 0.5) 0 0 6px 3px;
}

.company-services .fa-chevron-left {
  left: -1rem;
}

.company-services .fa-chevron-right {
  right: -1rem;
}

.company-services .list-group-item:first-child {
  border-top: 0;
}

.company-services__heading {
  color: white;
  width: 100%;
  text-align: left;
}

.company-services__heading--collapsed {
  color: #64b95a;
}

.company-services__heading:hover {
  color: white;
  text-decoration: none;
}

.company-services__heading--collapsed:hover {
  color: #64b95a;
}

.company-services__p {
  font-size: 0.75rem;
}

.company-services .tariff__heading, .company-services .tariff__price {
  color: #64b95a;
}

.purchase {
  font-size: 0.9rem;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.purchase__step {
  position: relative;
}

.purchase__step:nth-child(2) img {
  opacity: 0.45;
}

.purchase__step:not(:first-child) {
  -webkit-filter: grayscale(80);
          filter: grayscale(80);
  opacity: 0.5;
}

.purchase__step:not(:last-child) .purchase__svg-container::after {
  content: '';
  position: absolute;
  width: 10vw;
  border-top: 2px dotted;
  border-style: dotted;
  border-color: #14b8eb;
  border-image-source: url("images/svg/border-dots.svg");
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-width: 0 0 8px 0;
  top: calc(50% - 1.5rem);
  left: 7.5vw;
}

.purchase__step:hover,
.purchase__step:hover .purchase__step:nth-child(2) img {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.purchase__svg-container {
  background: white;
  -webkit-box-shadow: -1px 2px 5px 1px #efefef;
  box-shadow: -1px 2px 5px 1px #efefef;
  border-radius: 15px;
  max-height: 70px;
  max-width: 70px;
  position: relative;
  text-align: center;
}

.purchase__svg-description {
  font-size: 1rem;
  color: #14b8eb;
}

.purchase__summary {
  background: white;
  -webkit-box-shadow: -1px 2px 5px 1px rgba(25, 25, 25, 0.3);
  box-shadow: -1px 2px 5px 1px rgba(25, 25, 25, 0.3);
  position: relative;
  text-align: center;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  overflow: hidden;
  height: 380px;
}

.purchase .summary__heading {
  color: #14b8eb;
}

.purchase .summary__info {
  background-color: #f3f7ff;
  color: #14b8eb;
  border-radius: 15px;
}

.purchase .summary__final-cost {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5DB65A;
  background: #5db65a;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #5db65a), color-stop(100%, #93d057));
  background: linear-gradient(45deg, #5db65a 0%, #93d057 100%);
  font-size: 1.5rem;
}

.purchase .form-label {
  left: initial;
  opacity: 0.6;
}

.purchase .form-input {
  max-width: 100%;
  -webkit-box-shadow: 0 2px 0 0 #999;
          box-shadow: 0 2px 0 0 #999;
  opacity: 0.6;
}

.purchase .form-input.filled {
  -webkit-box-shadow: 0 2px 0 0 #14b8eb;
          box-shadow: 0 2px 0 0 #14b8eb;
  color: #14b8eb;
  opacity: 1;
}

.purchase .form-check {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  font-size: 200%;
  text-transform: uppercase;
}

.purchase .form-check-label > input {
  visibility: hidden;
  position: absolute;
}

.purchase .form-check-label > input + div {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.purchase .form-check-label > input:not(:checked) + div {
  color: #14b8eb;
  background: #f3f7ff;
}

.purchase .form-check-label > input:checked + div {
  background: #00ace0;
  color: white;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
  background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
}

.purchase__more {
  display: inline-block;
  font-size: 1.5rem;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
  background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
  z-index: 2;
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white;
}

.form-check-label > input:checked + div .purchase__more {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: transparent;
  border: 2px solid white;
}

.purchase__more:hover {
  background: white;
  cursor: pointer;
  color: #322c2e;
}

.purchase__more-dots {
  top: -8px;
  left: 7px;
  position: absolute;
}

.form-check-label > input:checked + div .purchase__more:hover {
  background: white;
}

.purchase__checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.purchase__checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.purchase .checkmark {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.purchase__checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.purchase__checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.purchase .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.purchase__checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.purchase__checkbox-container .checkmark:after {
  left: 10px;
  top: 5px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.purchase__img-container {
  margin-left: 45px;
  font-size: 0.75rem;
  opacity: 0.5;
}

.purchase__img {
  height: 50px;
}

.purchase__form-heading {
  color: #14b8eb;
}

.purchase__btn {
  display: inline-block;
  position: relative;
  background: #14b8eb;
  font-size: 0.9rem;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #14b8eb));
  background: linear-gradient(45deg, #00ace0 0%, #14b8eb 100%);
  -webkit-transition: 0.5s, color 0.2s;
  transition: 0.5s, color 0.2s;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.purchase__additional-item--checked {
  color: #14b8eb !important;
  fill: #14b8eb !important;
  opacity: 1;
}

@media (min-width: 1600px) {
  .header--contact__tear-bg {
    width: 41%;
    position: absolute;
    left: 45%;
    top: -2vw;
  }
  .about-us__p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1921px) {
  .header--contact__tear-bg {
    width: 30%;
    position: absolute;
    left: 46%;
    top: -2vw;
  }
}

@media (max-width: 1200px) {
  .about-us {
    min-height: 70vh;
    position: relative;
    color: white;
  }
  .about-us__background {
    width: 70%;
    position: absolute;
  }
  .about-us .row {
    position: absolute;
    width: 35%;
    left: 35%;
    top: 10%;
  }
}

@media (max-width: 992px) {
  .steps {
    background-position-x: -300px;
    display: block;
    position: relative;
  }
  .steps::after {
    content: '';
    background: white;
    display: block;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
    z-index: 0;
  }
  .footer .container {
    padding: 15px;
    padding-top: 150px;
  }
  .header--contact__tear-bg {
    width: 55%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .about-us,
  .our-services {
    min-height: 70vh;
    position: relative;
    color: white;
  }
  .about-us__background,
  .our-services__background {
    width: 70%;
    position: static;
    background-size: contain;
  }
  .about-us .row,
  .our-services .row {
    text-align: center;
    position: static;
    width: 100%;
    left: 0;
    color: #322c2e;
  }
  .about-us__heading,
  .our-services__heading {
    color: #14b8eb;
  }
  .about-us__subheading,
  .our-services__subheading {
    text-align: justify;
  }
  .company-services {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */