$clern-blue: #14b9ec;
$clern-lightGreen:#66ba5a;
$clern-lightYellow: #d3ef8b;
$clern-dark-text: #322c2e;
$clern-grey: #f3f7ff;

$variable-text-small-1:0.8rem;
$variable-text-small-2:0.75rem;
$variable-text-small-3:0.5rem;
$variable-text-medium-default:1rem;
$variable-text-medium-3:0.9rem;
$variable-text-medium-2:1.25rem;
$variable-text-medium-1:1.5rem;
$variable-text-big-2:2.5rem;
$variable-text-big-3:2rem;

$fast:0.2s;
$variable-text-doubled:200%;

body {
    color: $clern-dark-text;
    font-family: vag-rundschrift-d, sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
a {
    font-weight: 300 !important;
}

.font-size-doubled {
    font-size: $variable-text-doubled;
}

.text-small-1 {
    font-size: $variable-text-small-1;
}

.text-small-3 {
    font-size: $variable-text-small-3;
}

.text-medium-3 {
    font-size: $variable-text-medium-3;
}

.text-size-default {
    font-size: $variable-text-medium-default;
}

.text-light-green {
    color: $clern-lightGreen !important;
}

.text-dark {
    color: $clern-dark-text !important;
}

.z-1 {
    z-index: 1;
}

.z-0 {
    z-index: 0;
}

.z-minus {
    z-index: -1;
}

.double-columns {
    columns: 2;
}

.bg-green-grad {
    background-color: #8dce57;
    background: rgba(93, 182, 90, 1);
    background: -moz-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(93, 182, 90, 1)), color-stop(100%, rgba(147, 208, 87, 1)));
    background: -webkit-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
    background: linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
}

.green-shadow {
    box-shadow: rgba(141, 206, 97, 0.54) 0px 1px 10px 2px;
}

.dark-shadow {
    box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
}

.bg-blue-grad {
    background: rgba(0, 172, 224, 1);
    background: -moz-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0, 172, 224, 1)), color-stop(100%, rgba(117, 223, 255, 1)));
    background: -webkit-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
    background: linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
}













.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    transition: $fast;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: $clern-blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark::after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark::after {
    left: 10px;
    top: 5px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}








.header {
    max-height: 120px;
    z-index: 5;
    position: relative;

    &__logo {
        max-height: 60px;
    }

    &__nav-item .active {
        color: $clern-dark-text;
        position: relative;
    }

    &__nav-link {
        font-size: $variable-text-medium-3;
        color: $clern-dark-text;
        transition: $fast;
    }

    &__nav-link:hover {
        color: $clern-blue;
    }

    &__nav-item .active::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0.25rem;
        content: '';
        width: 85%;
        height: 2px;
        background-color: $clern-blue;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: $clern-dark-text;
        background-color: transparent;
    }

    .navbar-toggler {
        height: 40px;
        margin-top: 20px;
        background-color: white;
    }


    &__contact &__nav-link {
        color: white;
        font-size: $variable-text-medium-default;
        position: relative;
        overflow: hidden;
    }

    &__contact &__nav-link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        bottom: 0;
        left: -100%;
        transition: 0.3s;
    }

    &__contact &__nav-link:hover::after {
        left: 0;
    }

    &__contact-btn {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        transition: $fast;
        font-size: $variable-text-small-1;
        line-height: 1.5rem;
        text-transform: uppercase;
        box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;

        &:hover {
            background-color: white;
            color: $clern-blue;
            border: 1px solid transparent;
        }

        &--green {
            background-color: white;
            color: $clern-blue;
            border: 1px solid transparent;
            box-shadow: rgba(25, 25, 25, 0.3) 0px 5px 12px 0px;
        }


        &--green:hover {
            background-color: $clern-lightGreen;
            color: white;
            border: 1px solid transparent;
            box-shadow: rgba(25, 25, 25, 0.3) 0px 5px 12px 0px;
        }
    }

    &__lang-change {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        top: 12px;

        .dropdown-toggle {
            border-radius: 50%;
            width: 46px;
            height: 46px;
            font-size: $variable-text-small-1;
            background-color: white;
            color: $clern-blue;
            border: 0px white;
            -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            -moz-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            z-index: 2000;

            &:hover {
                background-color: $clern-blue;
                color: white;
            }

            &::after {
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 0;
                vertical-align: 0;
                content: none;
                border-top: 0;
            }
        }

        &__btn-text {
            z-index: 2000;
            position: relative;
        }

        .custom-carets {
            .dropdown-toggle:after {
                font-family: FontAwesome;
                content: '\f107';
                font-size: 0.5rem;
                z-index: 2000;
                position: relative;
            }

            .dropdown-toggle>span.caret {
                display: none;
            }
        }

        .dropdown-menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 46px;
            float: left;
            min-width: 0;
            padding: 3.5rem 0 1rem;
            margin: .125rem 0 0;
            font-size: 1rem;
            color: #212529;
            text-align: center;
            list-style: none;
            -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            -moz-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            background-clip: padding-box;
            border: none;
            border-radius: 25px;
            z-index: -1;
        }

        .dropdown-item {
            padding: 0;
            color: $clern-blue;
            font-size: $variable-text-small-1;
        }

        .dropdown-item:hover {
            color: $clern-dark-text;
        }
    }


}




.main {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.owl-carousel {



    .owl-dots .active span {
        transform: translate(-2px, -13px) scale(1.5);
        margin-right: 6px;
    }

    .owl-dots button {
        outline: none;
    }

    .owl-dots .owl-dot span {
        height: 2px;
        width: 2px;
        box-shadow: inset white 0 0 2px 2px;
        box-sizing: border-box;
        background-color: transparent !important;
        border-radius: 50%;
        padding: 5px;
        margin: 10px 5px;
        float: left;
        outline: none;

    }

    .bar {
        width: 0%;
        height: 100%;
        background: #fff;
        opacity: 1 !important;
        z-index: 3000;
        position: relative;
    }

    .progressBar {
        display: inline-block;
        width: 4rem;
        height: 2px;
        position: relative;
        background: #94d08b;
        z-index: 3000;
        transform: translateY(-14px);
    }

    .line-container {
        display: flex;
        justify-content: center;
    }
}

.owl-one {
    z-index: 0;
    overflow: hidden;

    &__img-container {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        text-align: right;
    }


    .owl-dots {
        position: absolute;
        top: 200px;
        right: -0.5rem;
        transform: translate(-50%, -50%) rotate(90deg);
    }



    .owl-carousel .owl-item img,
    &__img {
        object-fit: cover;
        max-width: 100%;
        display: inline-block !important;
        width: 89% !important;
        z-index: -1;
    }


    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__heading {
        color: $clern-lightGreen;
        font-size: $variable-text-big-2;
    }

    &__heading-underline {
        display: inline-block;
        position: relative;
    }

    &__heading-underline::after {
        content: '';
        background-color: $clern-lightYellow;
        height: 5px;
        width: 104%;
        position: absolute;
        display: block;
        left: -2%;
        bottom: 4px;
        z-index: -1;
        border-radius: 15px;
    }

    &__p {
        line-height: 1.6;
    }

    &__btn {
        text-transform: uppercase;
        font-size: $variable-text-small-1;
        border-radius: 50px;
        background-color: $clern-blue;
        border-color: $clern-blue;
        color: white;
        -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
        box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
    }

    &__btn:hover {
        color: $clern-dark-text;
        background-color: white;
        -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 2px;
        box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 2px;
    }
}

.steps {

    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('images/background-steps-with-tel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position-x: -22vmin;
    background-position-y: -30px;
    padding-bottom: 300px;

    &__container {
        width: 100%;
        z-index: 2;
        position: relative;
    }

    &__heading {
        color: $clern-blue;
    }

    &__intro {
        padding-top: 160px;
    }

    &__svg {
        background: white;
        -webkit-box-shadow: -1px 2px 5px 1px #efefef;
        -moz-box-shadow: -1px 2px 5px 1px #efefef;
        box-shadow: -1px 2px 5px 1px #efefef;
        border-radius: 15px;
        max-height: 70px;
        max-width: 70px;
        position: relative;
        text-align: center;
    }

    &__svg-1::after,
    &__svg-2::after,
    &__svg-3::after {
        content: '01';
        color: $clern-lightGreen;
        position: absolute;
        width: 10px;
        right: -12px;
        height: 10px;
        bottom: 8px;
    }

    &__svg-2::after {
        content: '02';
    }

    &__svg-3::after {
        content: '03';
    }

    &__info-step-heading {
        color: $clern-blue;
        font-size: $variable-text-medium-1;
    }

    &__info-step-subheading {
        font-size: $variable-text-small-1;
    }

    .owl-item {
        width: 100%;
    }
}

.offer {
    color: $clern-blue;
    transition: $fast;
    margin-top: -250px;
    z-index: 10;
    position: relative;

    .owl-item {
        padding: 0.5rem;
    }

    &__heading {
        color: $clern-lightGreen;
    }

    &__item {
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        position: relative;
        transition: 1s;
        z-index: 1;
        background-color: white;
    }

    &__item:hover {
        background-color: #3fbae1;
        transition: 1s;
    }

    &__item:hover::after {
        content: "";
        background: url('images/offer-flats-bg.png');
        opacity: 0.9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        z-index: 1;
        transition: 1s;
    }

    &__item-heading {
        font-size: $variable-text-small-1;
        position: relative;
        display: block;
        z-index: 2;
        height: 4rem;
    }

    &__item:hover &__item-heading {
        color: white;
    }

    &__line {
        position: relative;
        width: 20%;
        display: block;
        fill: $clern-blue;
        stroke: $clern-blue;
        z-index: 2;
    }

    &__item:hover &__line {
        fill: #ffffff !important;
        stroke: #ffffff !important;
    }

    &__svg {
        max-height: 60px;
        transition: 1s;
        opacity: 1;
    }

    &__item:hover &__svg {
        opacity: 0;
    }

    &__svg path,
    &__svg {
        fill: $clern-blue !important;
    }

    &__more {
        display: inline-block;
        position: absolute;
        font-size: 1.5rem;
        background-color: $clern-blue;
        padding: 1rem;
        border-radius: 50%;
        bottom: 1rem;
        right: 1rem;
        transition: 0.5s all;
        width: 32px;
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
        z-index: 2;
    }

    &__more:hover {
        border-radius: 25px;
        width: 50%;
        background-color: white;
        cursor: pointer;
    }

    &__more:hover &__more-dots {
        right: 5px;
        color: $clern-blue;
    }

    &__more:hover &__more-hidden {
        left: 38%;
        z-index: 2;
        display: inline-block;
    }

    &__more-hidden {
        display: none;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        left: -25px;
        font-size: $variable-text-small-2;
        transform: translate(-50%, -50%);
    }

    &__more-dots {
        position: absolute;
        color: white;
        font-size: 1.5rem;
        transform: translate(-50%, -71%);
    }
}

.testimonials {
    margin-top: -20vh;
    position: relative;

    .container {
        background-color: #5DB65A;
        background: rgba(93, 182, 90, 1);
        background: -moz-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(93, 182, 90, 1)), color-stop(100%, rgba(147, 208, 87, 1)));
        background: -webkit-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: -o-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: -ms-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        padding-top: 30vh;
        min-height: 40vh;
        border-bottom-right-radius: 10vh;
        border-top-left-radius: 10vh;
    }

    &__portrait,
    .owl-carousel .owl-item img {
        border-radius: 50%;
        background-color: white;
        width: 75px;
        display: inline-block;
    }

    &__card {
        border: 0;
        background-color: transparent;
    }

    &__blockquote {
        font-size: $variable-text-medium-default;
    }

    .fa-chevron-left,
    .fa-chevron-right {
        position: absolute;
        font-size: 4rem;
        top: 0;
        transition: $fast;
        color: white;

        &:hover {
            opacity: 0.5;
        }
    }

    .fa-chevron-left {
        left: 5%;
    }

    .fa-chevron-right {
        right: 5%;
    }

    // .owl-dots {
    //     text-align: center;
    //     margin-top: -2rem;
    //     padding-bottom: 5rem;
    // }

    // .owl-dot {
    //     width: 13px;
    //     height: 13px;
    //     top: 50%;
    //     left: 0px;
    //     box-shadow: inset rgba(255, 255, 255, 1) 0px 0px 0px 3px;
    //     z-index: 1;
    //     transform: translateY(-50%);
    //     padding: 0px;
    //     margin-left: 10px;
    //     margin-right: 10px;
    //     transition: all 0.3s ease 0s;
    //     border-radius: 50%;
    //     // background: transparent !important;
    //     appearance: none;
    //     // background-color: transparent !important;
    //     // border: 1px solid #fff;
    //     cursor: pointer;
    //     display: inline-block;
    //     // margin: 0 5px;
    //     outline: none;
    //     padding: 5px;
    // }

    // .owl-dots .active {
    //     box-shadow: rgba(255, 255, 255, 1) 0px 0px 0px 6px;
    // }

    // .owl-dot::after {
    //     content: '';
    //     width: 15px;
    //     height: 2px;
    //     display: inline-block;
    // }

    // .owl-dots .active::after {
    //     width: 100px !important;
    //     content: "";
    //     display: block;
    //     width: 15px;
    //     height: 2px;
    //     background-color: white;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     transition: all 0.25s ease-in-out 0s;
    // }
}

.news {
    margin-top: 100px;

    .container {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    &__heading {
        color: $clern-blue;
        font-size: 1.5rem;
    }

    &__subheading {
        line-height: 1.8;
    }

    &__more {
        display: inline-block;
        position: relative;
        font-size: 1.5rem;
        background: rgba(0, 172, 224, 1);
        background: -moz-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0, 172, 224, 1)), color-stop(100%, rgba(117, 223, 255, 1)));
        background: -webkit-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
        background: -o-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
        background: -ms-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
        background: linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
        transition: 0.5s, color 0.2s;
        box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
        z-index: 2;
        border-radius: 25px;
        width: 120px;
        cursor: pointer;
        color: white;
    }

    &__more:hover {
        background: white;
        color: $clern-blue;
    }

    &__more-hidden {
        display: none;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        left: -25px;
        font-size: $variable-text-small-2;
        transform: translate(-50%, -50%);
        left: 38%;
        z-index: 2;
        display: inline-block;
    }

    &__more-dots {
        position: absolute;
        font-size: 2rem;
        transform: translate(-50%, -71%);
        right: 5px;
    }


    &__img-description {
        font-size: 1rem;
    }

    &__time {
        color: $clern-blue;
    }

    &__img {
        border-bottom-right-radius: 35px;
        border-top-left-radius: 35px;
        display: inline-block;
        border-bottom-right-radius: 35px;
        border-top-left-radius: 35px;
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__img-container {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-bottom-right-radius: 35px;
        border-top-left-radius: 35px;
    }

    &__img-container::after {
        content: '';
        // border-bottom-right-radius: 35px;
        // border-top-left-radius: 35px;
        // without border we have imho nice animation
    }

    &__img-container:hover::after {
        content: '';
        display: block;
        background-color: #3fbae1;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-right-radius: 35px;
        border-top-left-radius: 35px;
        transition: $fast;
        z-index: 2;
    }

}

.newsletter {
    .container {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .row {
        background-color: $clern-blue;
        border-radius: 15vh;
        border-bottom-right-radius: 0;
        position: relative;
    }


    &__btn {
        border-radius: 35px;
        border-bottom-right-radius: 0;
        background-color: white;
        color: $clern-blue;
        border: 3px solid transparent;
        transition: $fast;
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
    }

    &__btn:hover {
        background-color: transparent;
        color: white;
        border: 3px solid white;
    }

    body {
        background-color: #f5f5f5;
    }

    .form-label {

        color: white;
    }

    .form-input {
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
        color: white;

        &:focus {
            box-shadow: 0 2px 0 0 #fff;
        }
    }

}

.form-group {
    position: relative;
}

.form-label {
    position: absolute;
    left: 0;
    top: 10px;
    background-color: transparent;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
    transform: translateY(-125%);
    font-size: .75em;
}

.form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    max-width: 270px;
    outline: 0;
    border: 0;
    transition: box-shadow 150ms ease-out;
    background-color: transparent;



}

.form-label:hover {
    cursor: text;
}

.form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
}


.footer {
    margin-top: -90px;
    z-index: -1;

    .container {
        background-color: $clern-grey;
        border-top-left-radius: 15vh;
        padding: 3rem 6rem;
        padding-top: 150px;
    }

    .row:last-child {
        border-top: 1px solid rgba(25, 25, 25, 0.1);
    }

    &__logo {
        max-height: 60px;
    }

    &__grey {
        font-size: $variable-text-small-1;
        opacity: 0.7;
    }

    &__link {
        color: $clern-dark-text;
    }

    &__tel,
    &__email {
        color: $clern-blue;
        display: block;
    }

    &__social .fab {
        width: 2rem;
        border-radius: 50%;
        background-color: rgba(117, 223, 255, 0.5);
        color: white;
        transition: $fast;
        text-align: center;
    }

    &__social .fab:hover {
        background-color: rgba(0, 172, 224, 1);
        cursor: pointer;
    }

    &__pay-img {
        opacity: 0.14;
        transition: $fast;
    }

    &__pay-img:hover {
        opacity: 0.8;
    }
}



// subpages
// subpage contact


.header--contact {
    &__tear-bg {
        width: 50%;
        position: absolute;
        left: 43.5%;
        top: -2vw;
    }
}

.communication {
    margin-top: 150px;

    &__map {
        height: 50vh;
        border-top-right-radius: 10vmin;
        border-bottom-left-radius: 10vmin;
    }

    &__heading {
        color: $clern-lightGreen;
        font-size: $variable-text-big-2;
    }

    &__subheading {
        display: inline-block;
    }

    &__deco-line {
        width: 3.75rem;
        height: 2px;
        background-color: $clern-lightGreen;
        display: inline-block;
        margin-bottom: 1.75rem;
    }

    &__tel a {
        font-size: $variable-text-medium-2;
        color: $clern-blue;
    }

    &__time-open {
        font-size: $variable-text-medium-1;
        color: $clern-blue;
    }

    &__form-heading {
        color: $clern-blue;
    }

    &__btn {
        display: inline-block;
        position: relative;
        background: #00ace0;
        font-size: $variable-text-small-1;
        background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
        background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
        -webkit-transition: 0.5s, color 0.2s;
        transition: 0.5s, color 0.2s;
        -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
        box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
        z-index: 2;
        border-radius: 40px;
        width: 100px;
        cursor: pointer;
        color: white;
        text-transform: uppercase;

        &:hover {
            color: $clern-dark-text;
            background: white;
            -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 2px;
            box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 2px;
        }
    }

    .form-label {
        left: initial;
        color: #322c2e;
    }

    .form-input {
        box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
        color: #322c2e;
        max-width: 100%;

        &:focus {
            box-shadow: 0 2px 0 0 $clern-blue;
            color: $clern-blue;
        }
    }

}


.testimonials--contact-subpage {
    margin-top: initial;

    .container {
        border-bottom-right-radius: 0;
        padding-top: 10vh;
    }
}

.footer--contact-subpage {
    z-index: -1;
    margin-top: 0;

    .container {
        border-top-left-radius: 0;
    }

}

//about-us

.testimonials--about-us-subpage {
    margin-top: initial;

    .container {
        border-radius: 0;
        padding-top: 10vh;
    }
}

.about-us,
.our-services {
    min-height: 50vh;
    position: relative;
    color: white;
    margin-top: 120px;

    &__background {
        width: 60%;
        position: absolute;
    }

    .row {
        position: absolute;
        width: 25%;
        left: 30%;
        top: 25%;
    }

    &__heading {
        font-size: $variable-text-big-2;
    }

    &__subheading {
        font-size: $variable-text-small-1;
        line-height: 1.7;
    }

    &__p {
        font-size: $variable-text-small-2;
    }

    &__deco-line {
        height: 3px;
        background-color: white;
    }
}

.about-us {
    min-height: 70vh;
}

.insurance {
    min-height: 400px;

    // .row {
    //     position: relative;
    // }

    &__img-oc,
    &__img-allianz {
        max-width: 150px;
        width: 100%;
        height: auto;
    }

    &__img-oc {
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    // &__info {
    //     width: 50% !important;
    //     position: absolute;
    //     right: 0;
    //     padding: 2rem 1rem 0rem 9rem;
    // }
}

.numbers {
    &__heading {
        color: $clern-blue;
        font-size: $variable-text-big-2;
    }

    &__svg {
        fill: white !important;
        border-radius: 50%;
        background-color: $clern-blue;
        width: 100px;
        height: 100px;
    }

    &__amount {
        color: $clern-blue;
        font-size: $variable-text-doubled;
        line-height: 1;
    }
}

.comp-coop {
    .container {
        background-color: $clern-grey;
        padding: 3rem 3rem;
    }

    .owl-carousel .owl-stage {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-height: 75px;
    }

    &__item {
        height: 75px;
        width: 100%;
    }

    &__img {
        object-fit: contain;
        height: 100%;
    }


}

//company-offer
.company-services {
    margin-left: 35%;

    .card {
        border: none;
        background-color: transparent;
    }

    .card-header {
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }

    .accordion .card:not(:first-of-type) .card-header:first-child {
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }

    .card-header.collapsed {
        background: #f3f7ff;

        .company-services__heading {
            color: $clern-lightGreen;
        }
    }

    .card-header:not(.collapsed) {
        background-color: #5DB65A;
        background: rgba(93, 182, 90, 1);
        background: -moz-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(93, 182, 90, 1)), color-stop(100%, rgba(147, 208, 87, 1)));
        background: -webkit-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: -o-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: -ms-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
    }

    .card-header .btn {
        transition: $fast;
    }

    .card-body {
        background-color: white;
    }

    .owl-services .owl-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-45%);
    }

    .owl-services .owl-dot {
        width: 1rem;
        height: 1rem;
        box-shadow: $clern-lightGreen;
        z-index: 1;
        transform: translateY(-50%);
        padding: 0px;
        margin: 0px 15px 0px 0px;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        appearance: none;
        background-color: transparent;
        border: 1px solid #fff;
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        outline: none;
        padding: 5px;
    }

    .owl-services .owl-dot::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: grey;
        transition: all 0.25s ease-in-out 0s;
    }

    .owl-services .owl-dots .active::after {
        background: white;
        border: 3px solid $clern-lightGreen;
    }

    .fa-chevron-left,
    .fa-chevron-right,
    .arrow {
        color: white;
        border-radius: 50%;
    }

    .fa-chevron-left,
    .fa-chevron-right,
    .collapsed .arrow {
        background-color: #5DB65A;
        background: rgba(93, 182, 90, 1);
        background: -moz-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(93, 182, 90, 1)), color-stop(100%, rgba(147, 208, 87, 1)));
        background: -webkit-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: -o-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: -ms-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
        background: linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
    }

    .fa-chevron-left,
    .fa-chevron-right {
        padding: 0.75rem;
        position: absolute;
        top: 50%;
        transform: translateY(-85%);
        box-shadow: rgba(147, 208, 87, 0.5) 0 0 6px 3px
    }

    .arrow {
        background: transparent;
        border: 2px solid white;
    }

    .collapsed .arrow {
        transform: rotateZ(180deg);
        border-radius: 50%;
        border: 2px solid transparent;
        box-shadow: rgba(147, 208, 87, 0.5) 0 0 6px 3px
    }

    .fa-chevron-left {
        left: -1rem;
    }

    .fa-chevron-right {
        right: -1rem;
    }


    .list-group-item:first-child {
        border-top: 0;
    }

    &__heading {
        color: white;
        width: 100%;
        text-align: left;
    }

    &__heading:hover {
        color: white;
        text-decoration: none;
    }

    &__p {
        font-size: $variable-text-small-2;
    }

    .tariff {

        &__heading,
        &__price {
            color: $clern-lightGreen;
        }

    }


}

//////////////
//purchase


.purchase {
    font-size: $variable-text-small-1;

    &__step {
        position: relative;
    }

    &__step:nth-child(2) img {
        opacity: 0.45;
    }

    &__step:not(:first-child) {
        filter: grayscale(80);
        opacity: 0.5;
    }

    &__step:not(:last-child) &__svg-container::after {
        content: '';
        position: absolute;
        width: 10vw;
        border-top: 2px dotted;
        border-style: dotted;
        border-color: $clern-blue;
        border-image-source: url('images/svg/border-dots.svg');
        border-image-slice: 33% 33%;
        border-image-repeat: round;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-width: 0 0 8px 0;
        top: calc(50% - 1.5rem);
        left: 7.5vw;
    }

    &__step:hover,
    &__step:hover &__step:nth-child(2) img {
        opacity: 1;
        filter: grayscale(0);
    }

    &__svg-container {
        background: white;
        -webkit-box-shadow: -1px 2px 5px 1px #efefef;
        -moz-box-shadow: -1px 2px 5px 1px #efefef;
        box-shadow: -1px 2px 5px 1px #efefef;
        border-radius: 15px;
        max-height: 70px;
        max-width: 70px;
        position: relative;
        text-align: center;
    }

    &__svg-description {
        font-size: $variable-text-medium-default;
        color: $clern-blue;
    }

    &__summary {
        background: white;
        -webkit-box-shadow: -1px 2px 5px 1px rgba(25, 25, 25, 0.3);
        -moz-box-shadow: -1px 2px 5px 1px rgba(25, 25, 25, 0.3);
        box-shadow: -1px 2px 5px 1px rgba(25, 25, 25, 0.3);
        position: relative;
        text-align: center;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        overflow: hidden;
        height: 380px;
    }

    .summary {
        &__heading {
            color: $clern-blue;
        }

        &__info {
            background-color: $clern-grey;
            color: $clern-blue;
            border-radius: 15px;
        }

        &__final-cost {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #5DB65A;
            background: rgba(93, 182, 90, 1);
            background: -moz-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
            background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(93, 182, 90, 1)), color-stop(100%, rgba(147, 208, 87, 1)));
            background: -webkit-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
            background: -o-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
            background: -ms-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
            background: linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
            font-size: $variable-text-medium-2;
        }
    }



    .form-label {
        left: initial;
        opacity: 0.6;
    }

    .form-input {
        max-width: 100%;
        box-shadow: 0 2px 0 0 #999;
        opacity: 0.6;
    }

    .form-input.filled {
        box-shadow: 0 2px 0 0 $clern-blue;
        color: $clern-blue;
        opacity: 1;
    }

    .form-check {
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
        font-size: $variable-text-doubled;
        text-transform: uppercase;
    }

    .form-icon {
        fill: $clern-blue;
        position: absolute;
        width: 0.9rem;
        height: 100%;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        transition: $fast;
    }

    .form-input:focus+.form-icon {
        opacity: 0;
    }

    //element>element div>p Selects all <p>elements where the parent is a
    //<div>element element+element 

    //div+p Selects all 
    // <p>elements that are placed immediately after <div>elements .labl {


    .form-check-label>input {
        visibility: hidden;
        position: absolute;
    }

    .form-check-label>input+div {
        cursor: pointer;
        transition: $fast;
    }

    .form-check-label>input:not(:checked)+div {
        color: $clern-blue;
        background: $clern-grey;
    }

    .form-check-label>input:checked+div {
        background: #00ace0;
        color: white;
        background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
        background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
    }

    &__more {
        display: inline-block;
        font-size: 1.5rem;
        background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
        background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
        z-index: 2;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: white;
    }

    .form-check-label>input:checked+div &__more {
        box-sizing: content-box;
        background: transparent;
        border: 2px solid white;
    }

    &__more:hover {
        background: white;
        cursor: pointer;
        color: $clern-dark-text;
    }

    &__more-dots {
        top: -8px;
        left: 7px;
        position: absolute;
    }

    .form-check-label>input:checked+div &__more:hover {
        background: white;
    }



    &__img-container {
        margin-left: 45px;
        font-size: $variable-text-small-2;
        opacity: 0.5;
    }

    .checkbox-container input:checked~.purchase__img-container,
    .checkbox-container input:checked~.purchase__img-container svg {
        color: $clern-blue;
        fill: $clern-blue !important;
        opacity: 1 !important;
    }

    &__img {
        height: 50px;
    }


    &__form-heading {
        color: $clern-blue;
    }


    &__btn {
        display: inline-block;
        position: relative;
        background: $clern-blue;
        font-size: $variable-text-small-1;
        background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, $clern-blue));
        background: linear-gradient(45deg, #00ace0 0%, $clern-blue 100%);
        -webkit-transition: 0.5s, color 0.2s;
        transition: 0.5s, color 0.2s;
        -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
        box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
        z-index: 2;
        border-radius: 40px;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
    }



}















@media (min-width:1200px) {

    .header {
        .navbar-light .navbar-nav .nav-link {
            color: $clern-dark-text;
        }

        .navbar-light .navbar-nav .nav-link:focus,
        .navbar-light .navbar-nav .nav-link:hover {
            color: $clern-blue;
        }

        &__contact .navbar-nav .nav-link {
            color: white !important;
        }

        &__contact .navbar-nav .nav-link:focus,
        &__contact .navbar-nav .nav-link:hover {
            color: white !important;
        }


    }

    .insurance {
        margin-top: -3rem;
    }
}

@media (min-width: 1600px) {
    .header--contact__tear-bg {
        width: 41%;
        position: absolute;
        left: 45%;
        top: -2vw;
    }

    .insurance {
        margin-top: -150px;
    }
}


@media (min-width:1921px) {
    .header--contact__tear-bg {
        width: 30%;
        position: absolute;
        left: 46%;
        top: -2vw;
    }

    .insurance {
        margin-top: 150px;
    }

}



@media (max-width:1200px) {
    .header {
        &__nav-item {

            width: 100%;
            text-align: left !important;
        }

        &__contact-btn {
            background-color: $clern-blue;
            color: white !important;
            border: 1px solid white;
        }

        &__nav-item .active::after {
            left: 0;
            transform: translateX(0);
        }

    }

    .owl-one {

        .owl-dots {
            position: absolute;
            top: 135px;
            right: -5rem;
            transform: translate(-50%, -50%) rotate(90deg) scale(0.8);
        }
    }

    .about-us {
        position: relative;
        color: white;

        &__background {
            width: 70%;
            position: absolute;
        }

        .row {
            position: absolute;
            width: 35%;
            left: 35%;
            top: 10%;
        }

    }

    .steps {
        background-position-x: -300px;
        display: block;
        position: relative;
    }

    .steps::after {
        content: '';
        background: white;
        display: block;
        opacity: 0.8;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        position: absolute;
        z-index: 0;
    }

}

@media (max-width: 992px) {

    .owl-one {

        &__left {
            position: static !important;
        }

        &__right {
            position: absolute;
            right: 0;
            top: 0;
        }

        &__text {
            padding-top: 250px;
        }

        &__item {
            min-height: 80vh;
        }
    }


    .fa-chevron-left,
    .fa-chevron-right {
        transform: scale(0.5);
    }




    .footer .container {
        padding: 15px;
        padding-top: 150px;
    }

    .header--contact__tear-bg {
        width: 55%;
        position: absolute;
        right: 0;
        top: 0;
    }

    .about-us,
    .our-services {

        min-height: 70vh;
        position: relative;
        color: white;

        &__background {
            width: 70%;
            position: static;
            background-size: contain;
        }

        .row {
            text-align: center;
            position: static;
            width: 100%;
            left: 0;
            color: $clern-dark-text;
        }

        &__heading {
            color: $clern-blue;
        }

        &__subheading {
            text-align: justify;

        }

    }

    .company-services {
        margin-left: 0;
    }
}


















//those fancy owl-carousel dots